div.month_lessons {
}

div.month_lessons div.month_header {
    font-size: 1.4em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 1em;
}

div.lesson_box_wrapper {
    width: 20%;
    min-width: 18em;
    position: relative;
    display: inline-block;
    margin: 0em 2em 2em 0em;
}

div.lesson_box_wrapper div.new {
    width: 1.5em;
    background-color: #ffc0c0;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
}

a.lesson_box {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    outline-width: 0px;
    color: #404040;
}

a.lesson_box:active {
    outline: 5px solid #f0f0f0;
}

a.lesson_box .left {
    display: inline-block;
    text-align: center;
    width: 4em;
    background: #c0c0c0;
    padding: 1em;
}

a.lesson_box .left div {
    vertical-align: top; height: 2em;
}

a.lesson_box .left .day {
    font-size: 1.8em;
    height: 1.2em;
}

a.lesson_box .right {
    width: 9em;
    display: inline-block;
    vertical-align: top;
    padding: 0.8em 0.3em 0em;
    font-size: 1.2em;
}

a.lesson_box .right div.title{
    height: 4.3em;
}

a.lesson_box .right div.progress {
    margin: 0em;
}
