body {
  background-color: #eee;
}
.tile {
  margin-bottom: 20px;
}

#content_container {
  margin: 70px auto;
  background-color: #eee;
  width: 904px;
}

/* Single Choice */
.single-choice {
  margin: 0 auto;
  width: 904px;
}
.single-choice p {
  font-size: 18px;
  color: #555;
}
.question {
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.quest-type {
  color: #999;
}
.palette {
  padding: 16px 0;
  margin-bottom: 15px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.palette .radio {
  padding-left: 0;
}
.even {
  background-color: #fff;
}
.odd {
  background-color: #E0E0E0;
  box-shadow: inset 0 2px 2px rgba(0,0,0, 0.1);
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.1);
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.1);
}
.radio input[type="radio"].answer {
  margin: 4px 16px;
}
input[type="text"].answer {
  width: 735px;
  height: 38px;
  border-color: #77bb55;
  margin: 0 10px 0 0;
  padding: 0;
}
#submit_answer {
  background: #77BB55;
  width: 110px;
  padding: 13px 19px;
}
#next-question {
  width: 110px;
  height: 24px;
  background: #77bb55;
  color: #fff;
  font-size: 18px;
  text-shadow: none;
}
.result {
  overflow: hidden;
  margin-top: 30px;
}
#grading_result {
  font-size: 24px;
  color: #DD6622;
  margin-top: 10px;
}

.circle_wrap {
    margin: auto;
    width: 700px;
}

.circle_wrap .line{
    margin-top: 160px;
    float: left;
}

.stage_circle {
    position: relative;
    background-repeat: no-repeat;
    font-family: Future;
    float: left;
}

/*done circles*/
.circle_0 img {
    margin-top: 79px;
}

.circle_0 p {
    font-style: italic;
    font-size: 36pt;
    color: #E8BAA3;
    top: 117px;
    left: 69px;
    position: absolute;
}

/*just unlocked circles*/
.circle_1 img {
    margin-top: 59px;
}

.circle_1 p {
    font-style: italic;
    font-size: 48pt;
    color: #E8BAA3;
    left: 82px;
    top: 107px;
    position: absolute;
}

/*locked circles*/
.circle_2 img {
    margin-top: 81px;
}

.circle_2 p {
    font-size: 30pt;
    left: 72px;
    top: 103px;
    position: absolute;
    color: rgb(51,51,51);
}

.wrap-text{
    word-wrap: break-word;
}
