.tile {
    margin-bottom: 20px;
}

#content_container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.stage_circle_0 {    
	position: relative;
    background-repeat: no-repeat;    
}

.wrap-text{
    word-wrap: break-word;
}