html {
  height: 100%;
}
body {
  height: 100%;
}
.tile {
    margin-bottom: 20px;
}

#content_container {
  margin-top: 40px;
  /* margin-bottom: 70px; */
  padding: 30px 0 10px;
  background-color: #eee;
  height: 100%;
}
.single-choice {
  margin: 0 auto;
  width: 904px;
}
.single-choice p {
  font-size: 18px;
  color: #555;
}
.question {
  line-height: 20px;
  margin-bottom: 20px;
}
.quest-type {
  color: #999;
}
.palette {
  padding: 16px 0;
  margin-bottom: 15px;
}
.palette .radio {
  padding-left: 0;
}
.even {
  background-color: #fff;
}
.odd {
  background-color: #E0E0E0;
}
.radio input[type="radio"].answer {
  margin: 4px 16px;
}

/* result */
.result {
  overflow: hidden;
  margin-top: 30px;
  font-size: 24px;
}
#correct_result {
  color: #999;
  margin-top: 10px;
}
#grading_result {
  margin: 10px 32px 0 0;
  /*font-size: 24px;*/
  line-height: 24px;
  color: #dd6622;
}

#submit_answer {
  background: #77BB55;
  width: 110px;
  padding: 13px 19px;
}
