.thumbnail {
    overflow: hidden;
    height: 270px;
    width: 360px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    border-color: white;
    border-width: 10px;
}

.thumbnail img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    border: 0;
}

.problem_body {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.choice_body {
    font-size: 18px;
}

.choice_selected {
    border-color: #77BB55;
}

.problem_image {
    max-width: 900px;
    margin: 10px;
}