.progress_bar {
    height: 56px; line-height: 56px;
    background: #444; color: #fff;
}

.progress_dart {
    position: relative; float: left; height: inherit;
    background:  #777;
    padding-left: 10px;
}

.dart_first {
    padding-left: 0px;
}

.progress_dart .progress_arrow {
    position: absolute; top: 0px; right: -15px; z-index: 10;
    height: inherit; width: 15px;
    background: url('Progressbar_Arrow_Greybg.png') no-repeat;
}

.dart_done {
    background: #7B5;
}

.dart_done .progress_arrow {
    background: url('Progressbar_Arrow_Done.png') no-repeat;
}

.progress_gauge {
    position: absolute; top: 0px; left: 0px; z-index: 5px;
    height: inherit;
    background: #7B5;
}

.progress_gauge .progress_arrow {
    background: url('Progressbar_Arrow_Ongoing.png') no-repeat;
}

.progress_icon {
    float: left; width: 30px; height: inherit;
    background-position: 0px 15px; background-repeat: no-repeat;
}

.progress_label {
    position: relative; height: inherit; z-index: 20;
    padding-left: 10px;
}

.progress_title {
    padding-right: 10px;
}

.star_on {
    background-image: url('Progressbar_Star_On.png');
}

.star_off {
    background-image: url('Progressbar_Star_Off.png');
}


.diagnose_on {
    background-image: url('Progressbar_Diagnose_On.png');
}

.diagnose_off {
    background-image: url('Progressbar_Diagnose_Off.png');
}

.dart_done [class*="progress_arrow"]:last-child{
    right:-30px;
    background: url('Progressbar_Arrow_Ongoing.png') no-repeat;
}
