.summary-warp {
    position: absolute;
    left: 0px;
    top: 56px;
    width: 100%;
    font-family: Futura;
}

.summary-warp .upper-warp {
    height: 320px;
    background: white;
}

.summary-warp .lower-warp {
    height: 100%;
    background: #eeeeee;
    position: relative;
}

.lower-warp p {
    font-size: 24px;
    color: #555555;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 30px;
}

.lower-warp .center-warp {
    width: 200px;
    margin: auto;
}

.lower-warp .center-warp .btn {
    width: 200px;
    font-size: 18px;
    height: 56px;
    background: #70bb5d;
    color: #ffffff;

    /*Vertical alignment! Like magic!*/
    display: table-cell;
    vertical-align: middle;
}

#centerd-correctness{
    width: 350px;
    margin: auto;
    position: relative;
}

#centerd-correctness .image-warp{
    width: 200px;
    top: 60px;
    left: 0px;
    position: relative;
}

.image-warp img{
    height: 200px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.image-warp #zhengquelv{
    top:46px;
    left: 73px;
    position: absolute;
}

.image-warp .rating-warp{
    color: #555555;
    width: 100px;
    height: 60px;
    margin: auto;
}

.rating-warp #rating{
    font-size: 60px;
    text-align: center;
    padding-top: 90px;
}

.image-warp #sign{
    font-size: 18px;
    margin-top: 10px;
    position: absolute;
    top: 94px;
}

#centerd-correctness .title{
    font-size: 18px;
    color: #555555;
}

#centerd-correctness .number{
    font-size: 36px;
    color: #555555;
    margin-top: 16px;
    text-align: center;
}

#centerd-correctness #right{
    position: absolute;
    top: 106px;
    left: 250px;
}

#centerd-correctness #wrong{
    position: absolute;
    top: 106px;
    left: 310px;
}