<!DOCTYPE html>
<html>
<head>
    <title>阳光提高班</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="js/libs/jquery/jquery-1.9.1.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="js/libs/logger/Logger.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <link href="css/app.css" rel="stylesheet">
    <link href="css/progress.css" rel="stylesheet">
    <link href="css/summary.css" rel="stylesheet">
    <script src="js/libs/underscore/underscore.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>

    <script src="js/sampledata.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/views.js"></script>
    <script src="js/models.js"></script>
    <script src="js/sun.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<div id="header">
</div>

<div class="container" id="content_container">
    <div id="content">loading content</div>

</div>

<div class="navbar navbar-inverse navbar-fixed-bottom" style="display: none">
    <div class="navbar-inner">
        <div class="container">
            <div id="footer" class="pull-left" style="height:60px;margisn-top:15px">loading footer</div>
            <div style="text-align: right">
                <button class="btn" onclick="Sun.resetuserdata()">reset user data</button>
                <button class="btn" onclick="Sun.showuserdata()">show user data</button>
                <button class="btn" onclick="goUpstairs()">goUpstairs</button>
            </div>
        </div>
    </div>
</div>

<!--Many templates-->
<script type="text/template" id="th_subjects">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav">
                <%
                for(var i=0 ; i < target.length ; i++){
                subject = target.at(i)
                if($.inArray(subject.get('id'),target.showSubjects)>=0){
                %>
                <li class="<% if(currentSubjectId == subject.get('id')){ %>active<% } %>">
                    <a href="#subject/<%=subject.get('id')%>"><%= subject.get('name') %></a>
                </li>
                <% }} %>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <div class="btn" onclick="Interfaces.sync()">
                        <img src="img/btn_main_refresh.png"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="th_lesson">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="#subject/<%= target.get('subject_id')%>">返回</a>
                    </li>
                    <li>
                        <a><%= target.get('name')%></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="th_problem">
    <div class="progress_bar">
        <%
        var hit_current =false
        for(var i =0;i < stage.get('sections').models.length;i++){
        var s= stage.get('sections').models[i]
        if(s.get('id')==section.get('id')){
        hit_current=true
        }
        if(!hit_current){
        %>
        <div class="progress_dart <% if(i==0){%>dart_first<%}%> dart_done">
            <div class="progress_label">
                <div class="progress_icon diagnose_off"></div>
            </div>
            <div class="progress_arrow"></div>
        </div>
        <%
        }else{
        %>
        <div class="progress_dart <% if(i==0){%>dart_first<%}%>">
            <div class="progress_label">
                <div class="progress_icon star_off"></div>
                <span class="progress_title">这个主题呀！</span>
            </div>
            <div class="progress_arrow"></div>
            <div class="progress_gauge" style="width:<%=section.completeRate()*100%>%;">
                <div class="progress_arrow"></div>
            </div>
        </div>
        <%
        break}
        }
        %>
    </div>
</script>

<script type="text/template" id="th_summary">
    summary
</script>

<script type="text/template" id="tc_subject">
    <% _.each(target.get('monthLessons'),function(monthLesson){ %>
    <h2><%=monthLesson[0].get('month')%>月</h2>

    <div class="row">
        <% _.each(monthLesson,function(lesson){ %>
        <div class="span3">
            <div class="well <%=lesson.id%>" id="lesson">
                <div class="row row-top">
                    <h4 style="text-wrap:pre-line"><%=lesson.get("name")%></h4>

                    <div class="pull-right lesson_label">
                        <img class="<%=lesson.id%>" src="img/label_new.png"/>

                        <p class="<%=lesson.id%>"><%=lesson.get("day_week")%></p>
                    </div>
                </div>
                <%
                userdata = Sun.getuserdata('lesson',lesson.get('id'))
                %>
                <div id="lessonbox_download_progress_<%=lesson.id%>"
                     style="width:90%;margin-left:10px;margin-right:10px;display:none"
                     class="row row-bottom progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <div id="lessonbox_download_<%=lesson.id%>" class="btn btn-large <%=lesson.id%>"
                     style="display:<%if(userdata['downloaded']==true){%>none<%}%>"
                     onclick="Interfaces.download('<%=lesson.id%>')">下载
                </div>
                <a href='#lesson/<%=lesson.get("id")%>' style="margin-left:10px;margin-right:10px">
                    <div id="lessonbox_progress_<%=lesson.id%>" class="row row-bottom"
                         style="display:<%if(userdata['downloaded']!=true){%>none<%}%>">
                        <%
                        var stageCount = 2
                        var stageWidth = 100/stageCount
                        for(var i=0;i < stageCount; i++){
                        %>
                        <div class="lessonProgressBar" style="width:<%=stageWidth%>%">
                            <div class="rectangle" style="display:block"></div>
                            <div class="ball" style="display:block"><img src="img/StageIcon_<%=i+1%>_Grey.png"/></div>
                        </div>
                        <%}%>
                    </div>
                </a>
            </div>
        </div>
        <% }) %>
    </div>
    <% }) %>
</script>

<!-- Stages -->
<script type="text/template" id="tc_lesson">
    <div class="circle_wrap">
        <%
        var meetUnlocked = false
        $.each(target.get("stages").models,function(index,stage){
        var circleClassNum = 0
        var type = parseInt(stage.get('type'))+1
        var imgPath = ""
        var status = StageHelper.get_status(stage)
        if(!meetUnlocked){
        if(status!='EOF'){
        circleClassNum = 1
        imgPath = '0'+type
        meetUnlocked = true
        }else{
        circleClassNum = 0
        imgPath = type
        }
        }else{
        circleClassNum = 2
        imgPath = '00'+type
        }
        imgPath= './img/'+imgPath+'.png'
        Log.i('stage,'+type+","+circleClassNum)
        %>
        <% if (index !=0) {%>
        <img src="./img/line.png" alt="line" class="line"/>
        <% } %>
        <%var choose_circle = 0%>
        <div class="stage_circle circle_<%=circleClassNum%>">
            <% if (circleClassNum != 1) {%>
            <a onclick="viewStage('<%=stage.get('id')%>')"><img src="<%=imgPath%>" alt="circle background"></a>
            <% } else {%>
            <a href="#stage/<%=stage.id%>"><img src="<%=imgPath%>" alt="circle background"></a>
            <% } %>
            <p><%=parseInt(stage.get('seq'))%></p>
        </div>
        <% }) %>
    </div>
</script>

<script type="text/template" id="tc_problem_singlechoice">
    <div class="row">
        <p>
            <%=target.get('body')%>
        </p>

        <div>
            <%
            userdata = Sun.getuserdata('problem',target.get('id'))
            for(var i =0 ; i < target.get("choices").length; i++) {
            var choice = target.get("choices")[i]
            %>

            <div id="pcontainer_<%=choice.id%>" class="pcontainer palette palette-clouds even"
                 onclick="makeSelection('<%=choice.id%>',true)">
                <label class="radio">
                    <input class="answer"
                           id="<%=choice.id%>"
                           answer="<%= choice.answer%>"
                           type="radio"
                           name="optionsRadios">
                    <%= target.get('choices')[i].display_text %>
                </label>
            </div>
            <% } %>
        </div>

        <div class="result">
            <div id="grading_result" class="pull-left">
                <% if(userdata.correct==true) { %>
                Right:)
                <% } else if (userdata.correct==false) { %>
                WRONG!!!
                <% } %>
            </div>

            <div class="pull-right">
                <% if(currentMode != MODE.VIEW_ONLY){
                if(userdata.current == 'EOF') { %>
                <a id="next-question" class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
                <% }else if(userdata.current == undefined){ %>
                <a id="submit_answer" class="btn btn-large  btn-primary"
                   onclick="grading('<%=target.get('id')%>')">提交答案</a>
                <% } %>
                <% } else { %>
                <div>
                    <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="tc_problem_multichoice">
    <div class="row">
        <p>
            <%=target.get('body')%>
        </p>

        <div>
            <%
            userdata = Sun.getuserdata('problem',target.get('id'))
            for(var i =0 ; i < target.get("choices").length; i++) {
            var choice = target.get("choices")[i]
            %>

            <div id="pcontainer_<%=choice.id%>" class="pcontainer palette palette-clouds even"
                 onclick="makeSelection('<%=choice.id%>',false)">
                <label class="checkbox">
                    <input class="answer"
                           id="<%=choice.id%>"
                           answer="<%= choice.answer%>"
                           type="checkbox"
                           name="optionsRadios">
                    <%= target.get('choices')[i].display_text %>
                </label>
            </div>
            <% } %>
        </div>

        <div class="result">
            <div id="grading_result" class="pull-left">
                <% if(userdata.correct==true) { %>
                Right:)
                <% } else if (userdata.correct==false) { %>
                WRONG!!!
                <% } %>
            </div>

            <div class="pull-right">
                <% if(currentMode != MODE.VIEW_ONLY){
                if(userdata.current == 'EOF') { %>
                <a id="next-question" class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
                <% }else if(userdata.current == undefined){ %>
                <a id="submit_answer" class="btn btn-large  btn-primary"
                   onclick="grading('<%=target.get('id')%>')">提交答案</a>
                <% } %>
                <% } else { %>
                <div>
                    <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="tc_problem_singlefilling">
    <div class="row">
        <span class="quest-type">（填空题）</span>

        <p>
            <%=target.get("body")%>
            <% userdata = target.get('userdata') %>
        </p>
    </div>

    <div class="row">
        <div class="span10 controls">
            <input type="text" id="answer" style="width:100%;margin-top:5px;height:30px" placeholder="填写答案">
        </div>

        <div class="span2">
            <% if(currentMode != MODE.VIEW_ONLY) { %>

            <% if(userdata.current == 'EOF') { %>
            <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            <% }else{ %>
            <a id="submit_answer" class="btn btn-large  btn-primary"
               onclick="grading('<%=target.get('id')%>')">提交答案</a>
            <% } %>
            <% } else { %>
            <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            <% } %>
        </div>
    </div>

    <div id="grading_result" class="row">
        <% if(userdata.correct==true) { %>
        Right:)
        <% } else if (userdata.correct==false) { %>
        WRONG!!!
        <% } %>
    </div>

</script>

<script type="text/template" id="tc_stages"></script>
<script type="text/template" id="tc_month"></script>
<script type="text/template" id="tc_activity"></script>
<script type="text/template" id="tc_section"></script>
<script type="text/template" id="tc_summary">

    <div>
        <%
        n_correct = 0
        n_wrong = 0
        for(var i =0;i < target.get('problems').length;i++){
        var problem= target.get('problems').models[i]
        var userdata= problem.get('userdata')
        Log.i('problem userdata:'+JSON.stringify(userdata))
        var correct= userdata['correct']
        if(correct==true){
        n_correct++
        }else if (correct ==false){
        n_wrong++
        }
        }
        Log.i('problem statistic:'+n_correct+','+n_wrong)
        persentage = ((n_correct+n_wrong)==0)?0:(n_correct / (n_correct + n_wrong) * 100)
        %>
    </div>
    <div class="summary-warp">
        <div class="upper-warp">
            <div id="centerd-correctness">
                <% pic_name = Math.ceil(persentage / 10) * 10 + "" %>

                <div class="image-warp">
                    <img src="img/persentage/<%= pic_name %>%.png" alt="?????">

                    <p id="zhengquelv" class="title">正确率</p>

                    <div class="rating-warp">
                        <p id="rating"><%= Math.ceil(persentage)%></p>
                    </div>

                    <%
                    sign_left = 130
                    if (persentage < 5)
                    sign_left = 120
                    else if (Math.ceil(persentage) >= 100 )
                    sign_left = 145
                    %>

                    <p id="sign" style="left:<%=sign_left%>px">%</p>
                </div>

                <div id="right">
                    <p class="title">正确</p>

                    <p class="number"><%= n_correct%></p>
                </div>
                <div id="wrong">
                    <p class="title">错误</p>

                    <p class="number"><%= n_wrong%></p>
                </div>
            </div>
        </div>
        <div class="lower-warp">
            <p>SB，差得远呀！</p>

            <div class="center-warp">
                <% if(target.get('next_activity')!=undefined) {%>
                <a class="btn" href="#activity/<%=target.get('next_activity')%>">继续</a>
                <% }else if(target.get('next_lesson')!=undefined) { %>
                <a class="btn" href="#lesson/<%=target.get('next_lesson')%>">回到课程</a>
                <% }else{ %>
                <a class="btn" href="#section/<%=target.get('section_id')%>">继续</a>
                <% } %>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="tc_video">
    <h1><%=target.get('name')%></h1>

    <%
    id = target.get("id")
    Log.i('media:'+JSON.stringify(media))
    var mediaPath = "file://"+media.get('path')
    %>
    <div class="row" style="text-align:center">
        <video id="video" class="clearfix" src="<%=mediaPath%>" poster="img/img-video-placeholder.gif" width=640
               height=380 onclick="this.play()">
        </video>
        <% var video =document.getElementById('video')%>
        <div style="text-align: center;">
            <div class="btn btn-primary btn-large" onclick="video.play()">
                <img style="height:25px" src="img/play.png"/>
            </div>
            <div class="btn btn-large" onclick="completeVideo('<%=id%>')">看完啦</div>
        </div>
    </div>

</script>

<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <h3>同步中，请等待</h3>
    </div>
    <div class="modal-body">
        <p>加载完成后会返回首页</p>
    </div>
</div>

<script type="text/template" id="tf_lesson"></script>
<script type="text/template" id="tf_subject"></script>
<script type="text/template" id="tf_problem_singlechoice">
</script>

</body>
</html>
