<!DOCTYPE html>
<html>
<head>
    <title>阳光提高班</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="js/libs/jquery/jquery-1.9.1.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/libs/logger/Logger.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <link href="css/app.css" rel="stylesheet">
    <link href="css/progress.css" rel="stylesheet">
    <link href="css/summary.css" rel="stylesheet">
    <script src="js/libs/underscore/underscore.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>

    <script src="js/sampledata.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/views.js"></script>
    <script src="js/models.js"></script>
    <script src="js/sun.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="nav-collapse collapse">
            <div  id="header">
                <div style="width:48px; height:56px; float:left"><img src="img/SunExercise_Logo.png" style="width:auto; height:auto; border:none; box-shadow:none; margin-left:20px; margin-top:14px;"/></div>
                <a class="brand">阳光提高班</a>
                <ul class="nav pull-right">
                    <li class="refreshZone">
                        <img class="icon icon-2x" src="img/btn_main_refresh.png" onclick="Interfaces.sync()" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" id="content_container">
    <div id="content"></div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom" style="display: none">
    <div class="navbar-inner">
        <div class="container">
            <div id="footer" class="pull-left" style="height:60px;margisn-top:15px">loading footer</div>
            <div style="text-align: right">
                <button class="btn" onclick="Sun.resetuserdata()">reset user data</button>
                <button class="btn" onclick="Sun.showuserdata()">show user data</button>
                <button class="btn" onclick="goUpstairs()">goUpstairs</button>
            </div>
        </div>
    </div>
</div>

<!--Many templates-->
<script type="text/template" id="th_subjects">
           <div style="width:48px; height:56px; float:left"><img src="img/SunExercise_Logo.png" style="width:auto; height:auto; border:none; box-shadow:none; margin-left:20px; margin-top:14px;"/></div>
            <a class="brand">阳光提高班</a>
                <ul class="nav">
                    <%
                    for(var i=0 ; i < target.length ; i++){
                    var subject = target.at(i);
                    %>

                    <%if($.inArray(subject.get('id'),target.showSubjects)>=0){ 
                        var lessonArray = new Array()
                        var lessonCount = undefined
                        Sun.fetch('subject', {id: subject.get('id')}, function (l) {
                            lessonArray = l.get('lessons')
                            lessonCount = lessonArray.length
                    })
                    
                    for( var n=0,p=0; n<lessonCount; n++ ){
                        userdata = Sun.getuserdata('lesson',lessonArray.at(n).get('id'))
                        var newstatus = userdata['entered']
                        if(newstatus==undefined){
                            ++p;
                        }
                    }%>

                    <li class="<% if(currentSubjectId == subject.get('id')){ %>active<% } %>">
                        <a href="#subject/<%=subject.get('id')%>"><%= subject.get('name') %></a>
                        <!--<a href="javascript:void(0)" onclick="load.rmDialog(load.addDialog('<%=subject.get('id')%>'))"><%= subject.get('name')%></a>-->
                        <div id="triangle" style="display:<% if(currentSubjectId != subject.get('id')){ %>none<% } %>"></div>
                        <div id="badge" style="display:<%if(p<=0){%>none<%}%>"><%=p%></div>
                    </li>
                    <% }%>
                <%}%>
                </ul>
                <ul class="nav pull-right">
                    <li class="refreshZone">
                        <img class="icon icon-2x" src="img/btn_main_refresh.png" onclick="Interfaces.sync()" />
                    </li>
                </ul>
</script>

<script type="text/template" id="th_lesson">
                <ul class="nav">
                    <li>
                        <img onclick="Interfaces.backpage()" src="img/back.png"/>
                    </li>
                    <li>
                        <a style="font-size:20px"><%= target.get('name')%></a>
                    </li>
                </ul>
</script>

<script type="text/template" id="th_problem">
    <div class="progress_bar">
        <%
        var hit_current =false
        for(var i =0;i < stage.get('sections').models.length;i++){
        var s= stage.get('sections').models[i]
        if(s.get('id')==section.get('id')){
        hit_current=true
        }
        if(!hit_current){
        %>
        <div class="progress_dart <% if(i==0){%>dart_first<%}%> dart_done">
            <div class="progress_label">
                <div class="progress_icon star_off"></div>
            </div>
            <div class="progress_arrow"></div>
            <!--This second arrow is to hold the triangle area of the beginning of next section-->
            <div class="progress_arrow"></div>
        </div>
        <%
        }else{
        %>
        <div class="progress_dart <% if(i==0){%>dart_first<%}%>">
            <div class="progress_label">
                <div class="progress_icon star_on"></div>
                <span class="progress_title"><%=section.get('name')%></span>
            </div>
            <div class="progress_arrow"></div>
            <div class="progress_gauge" style="width:<%=section.completeRate()*100%>%;">
                <div class="progress_arrow"></div>
            </div>
        </div>
        <%
        break}
        }
        %>
    </div>
</script>

<script type="text/template" id="th_summary">
    summary
</script>

<script type="text/template" id="tc_subject">
    <% _.each(target.get('monthLessons'),function(monthLesson){ %>

    <h2><%=monthLesson[0].get('month')%>月</h2>
    <div class="row" id="lesson_row">
        <%
        _.each(monthLesson,function(lesson){
        userdata = Sun.getuserdata('lesson',lesson.get('id'))
        %>

        <div class="span3">
            <%
            var downloaded = lesson.get("download_finish")
            %>

            <div class="well <%=lesson.id%>" id="lesson"
                 style="background-color:<%if(downloaded=='1'){%>#ffffff<%}%>"
                 onclick="<%if(downloaded=='1'){%>window.open('#lesson/'+'<%=lesson.id%>','_self')<%}%>">
                <div class="row row-top">
                    <h4><%=lesson.get("name")%></h4>

                    <div class="pull-right lesson_label">
                        <img class="<%=lesson.id%>" src="img/label_new.png" style="display:<%if(userdata['entered']!=undefined){%>none<%}%>"/>
                        <p class="<%=lesson.id%>" style="display:<%if(downloaded !='1' || userdata['entered']==undefined){%>none<%}%>"><%=lesson.get("day_week")%></p>
                    </div>
                </div>
               
               <div class="row row-bottom">

                <div id="lessonbox_download_<%=lesson.id%>" class="btn btn-large <%=lesson.id%>"
                     style="display:<%if(downloaded=='1'){%>none<%}%>"
                     onclick="Interfaces.download('<%=lesson.id%>')">下载
                </div>
                
                <div id="lessonbox_download_progress_<%=lesson.id%>"
                     style="width:90%;display:none"
                     class="row row-bottom-content progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>

                <div id="lessonbox_progress_<%=lesson.id%>" class="row row-bottom-content"
                         style="display:<%if( downloaded!='1' || userdata['entered']==undefined){%>none<%}%>">
                        <%
                        var stageCount = undefined
                        var stageArray = new Array()
                        Sun.fetch('lesson', {id: lesson.get('id')}, function (s) {
                            stageCount = s.get('stages').length
                            stageArray = s.get('stages')

                        var stageWidth = 100/stageCount
                        for(var i=0;i < stageCount; i++){
                        var stageUserData = Sun.getuserdata('stage',stageArray.at(i).get('id'))
                        %>

                        <div class="lessonProgressBar" style="width:<%=stageWidth%>%">
                            <div class="rectangle" style="display:block; background-color:<%if(stageUserData['current']=='EOF'){%>#77BB55<%}%>"></div>
                            <div class="ball" style="display:block"><img <%if(stageUserData['current']=='EOF'){%>src="img/StageIcon_<%=i+1%>_Done.png"<%}else{%>src="img/StageIcon_<%=i+1%>_Grey.png"<%}%>/></div>
                        </div>
                        <%}
                    })%>

                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <% }) %>
</script>

<!-- Stages -->
<script type="text/template" id="tc_lesson">
    <div class="circle_wrap">
        <%
        var meetUnlocked = false
        $.each(target.get("stages").models,function(index,stage){
        var circleClassNum = 0
        var type = parseInt(stage.get('type'))+1
        var imgPath = ""
        var status = StageHelper.get_status(stage)
        if(!meetUnlocked){
        if(status!='EOF'){
        circleClassNum = 1
        imgPath = '0'+type
        meetUnlocked = true
        }else{
        circleClassNum = 0
        imgPath = type
        }
        }else{
        circleClassNum = 2
        imgPath = '00'+type
        }
        imgPath= './img/'+imgPath+'.png'
        Log.i('stage,'+type+","+circleClassNum)
        %>
        <% if (index !=0) {%>
        <img src="./img/line.png" alt="line" class="line"/>
        <% } %>
        <%var choose_circle = 0%>
        <div class="stage_circle circle_<%=circleClassNum%>">
            <% if (circleClassNum == 0) {%>
            <div onclick="viewStage('<%=stage.get('id')%>')"><img src="<%=imgPath%>" alt="circle background"></div>
            <% } else {%>
            <a <%if(circleClassNum == 1){%>href="#stage/<%=stage.id%>"<%}%> >
                <img src="<%=imgPath%>" alt="circle background">
            </a>
            <% } %>
            <p><%=index+1%></p>
        </div>
        <% }) %>
    </div>
</script>

<script type="text/template" id="tc_problem_singlechoice">
    <%
    activity_type = activity.get('type')
    %>
    <div class="row" style="font-size: 18px">
        <h3><% if(activity_type=='7'){%>诊断题<%}else if(activity_type=='4'){%>练习题<%}%>
            <small class="quest-type">（单选题）</small>
        </h3>

        <p>
            <%=target.get('body')%>
        </p>

        <div>
            <%
            problemId = target.get('id')
            userdata = Sun.getuserdata('problem',problemId)
            var completed = (userdata.current == 'EOF')
            for(var i =0 ; i < target.get("choices").length; i++) {
            var choice = target.get("choices")[i]
            var shouldCheck = ($.inArray(choice.id, userdata.checked)>=0)
            %>

            <div id="pcontainer_<%=choice.id%>" class="pcontainer palette palette-clouds
            <%if(shouldCheck){%>odd<%}else{%>even<%}%>"
            <%if(!completed){%>
            onclick="makeSelection('<%=choice.id%>', problemId, true)"
            <%}%>
            >
            <label class="radio">
                <input class="answer"
                       id="<%=choice.id%>"
                       answer="<%= choice.answer%>"
                       type="radio"
                       name="optionsRadios"
                       completed=<%=completed%>
                <% if(completed){%>disabled<%}%>
                <% if(shouldCheck){%>checked<%}%>
                >
                <strong><%=ANSWERS[i]%>.</strong> <%= target.get('choices')[i].display_text %>
            </label>
        </div>
        <% } %>
    </div>

    <div class="result">
        <div id="grading_result" class="pull-left">
            <%
            if(activity_type=='4'){
            if(userdata.correct==true) {
            %>
            yo，答对啦！
            <%
            } else if (userdata.correct==false) {
            %>
            错了哎。正确答案是：<%=target.get('correct_answers')%>
            <%
            }
            }else if((activity_type=='7') && (userdata.current == 'EOF')){%>
            已经答完啦 
            <%}
            %>
        </div>

        <div class="pull-right">
            <% if(currentMode != MODE.VIEW_ONLY){
            if(userdata.current == 'EOF') { %>
            <a id="next-question" class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            <% }else if(userdata.current == undefined){ %>
            <a id="submit_answer" class="btn btn-large  btn-primary disabled">提交答案</a>
            <% } %>
            <% } else { %>
            <div>
                <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            </div>
            <% } %>
        </div>
    </div>
    </div>
</script>


<script type="text/template" id="tc_problem_multichoice">
    <%
    activity_type = activity.get('type')
    %>
    <div class="row" style="font-size: 18px">
        <h3><% if(activity_type=='7'){%>诊断题<%}else if(activity_type=='4'){%>练习题<%}%>
            <small class="quest-type">（多选题）</small>
        </h3>

        <p>
            <%=target.get('body')%>
        </p>

        <div>
            <%
            problemId = target.get('id')
            userdata = Sun.getuserdata('problem',problemId)
            activity_type = activity.get('type')
            var completed = (userdata.current == 'EOF')
            for(var i =0 ; i < target.get("choices").length; i++) {
            var choice = target.get("choices")[i]
            var shouldCheck = ($.inArray(choice.id, userdata.checked)>=0)
            %>

            <div id="pcontainer_<%=choice.id%>"
                 class="pcontainer palette palette-clouds
                 <% if(shouldCheck){%>odd<%}else{%>even<%}%>"
            <% if(!completed){%>
            onclick="makeSelection('<%=choice.id%>', problemId, false)"
            <%}%>
            >
            <label class="checkbox">
                <input class="answer"
                       id="<%=choice.id%>"
                       answer="<%=choice.answer%>"
                       type="checkbox"
                <% if(completed){%>disabled<%}%>
                name="optionsRadios"
                <% if(shouldCheck){%>checked<%}%>
                >
                <strong><%=ANSWERS[i]%>.</strong> <%= target.get('choices')[i].display_text %>
            </label>
        </div>
        <% } %>
    </div>

    <div class="result">
        <div id="grading_result" class="pull-left">
            <%
            if(activity_type=='4'){
            if(userdata.correct==true) {
            %>
            yo，答对啦！
            <%
            } else if (userdata.correct==false) {
            %>
            错了哎。正确答案是：<%=target.get('correct_answers')%>
            <%
            }
            }else if((activity_type=='7') && (userdata.current == 'EOF')){%>
            已经答完啦
            <%}
            %>
        </div>

        <div class="pull-right">
            <% if(currentMode != MODE.VIEW_ONLY){
            if(userdata.current == 'EOF') { %>
            <a id="next-question" class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            <% }else if(userdata.current == undefined){ %>
            <a id="submit_answer" class="btn btn-large  btn-primary disabled">提交答案</a>
            <% } %>
            <% } else { %>
            <div>
                <a class="btn btn-large" href="#activity/<%=target.get('activity_id')%>">继续</a>
            </div>
            <% } %>
        </div>
    </div>
    </div>
</script>


<script type="text/template" id="tc_problem_singlefilling">
    <%
    activity_type = activity.get('type')
    %>
    <div class="row" style="font-size: 18px">
        <h3><% if(activity_type=='7'){%>诊断题<%}else if(activity_type=='4'){%>练习题<%}%>
            <small class="quest-type">（填空题）</small>
        </h3>

        <p>
            <%
            problemId = target.get('id')
            userdata = Sun.getuserdata('problem',problemId)
            var completed = (userdata.current == 'EOF')
            activity_type = activity.get('type')
            %>
            <%=target.get("body")%>
        </p>
    </div>

    <div class="row">
        <div class="span10 controls" style="margin-left:0px">
            <input type="text" class="" id="answer" style="width:100%;margin-top:5px;height:30px"
                   placeholder="<%if(completed){%><%=userdata['answer']%><%}else{%>填写答案<%}%>" onfocus = "activeSubmitBtn(problemId)">
        </div>

        <div class="">
            <% if(currentMode != MODE.VIEW_ONLY) { %>
            <% if(completed) { %>
            <a class="span2 btn btn-large" style="margin-left: 20px; width: 110px; padding: 13px 19px;" href="#activity/<%=target.get('activity_id')%>">继续</a>
            <% }else{ %>
            <a id="submit_answer" class="span2 btn btn-large btn-primary disabled" style="margin-left:20px">提交答案</a>
            <% } %>
            <% } else { %>
            <a class="span2 btn btn-large" href="#activity/<%=target.get('activity_id')%>" style="margin-left: 20px; width: 110px; padding: 13px 19px;">继续</a>
            <% } %>
        </div>
    </div>

    <div id="grading_result" class="row">
        <%
        if(activity_type=='4'){
        if(userdata.correct==true) {
        %>
        yo，答对啦！
        <%
        } else if (userdata.correct==false) {
        %>
        错了哎。正确答案是：<%=target.get('correct_answers')%>
        <%
        }
        }else if((activity_type=='7') && (userdata.current == 'EOF')){%>
        已经答完啦
        <%}
        %>
    </div>

</script>

<script type="text/template" id="tc_stages"></script>
<script type="text/template" id="tc_month"></script>
<script type="text/template" id="tc_activity"></script>
<script type="text/template" id="tc_section"></script>
<script type="text/template" id="tc_summary">

    <div>
        <%
        n_correct = 0
        n_wrong = 0
        for(var i =0;i < target.get('problems').length;i++){
        var problem= target.get('problems').models[i]
        var userdata= problem.get('userdata')
        Log.i('problem userdata:'+JSON.stringify(userdata))
        var correct= userdata['correct']
        if(correct==true){
        n_correct++
        }else if (correct ==false){
        n_wrong++
        }
        }
        Log.i('problem statistic:'+n_correct+','+n_wrong)
        percentage = ((n_correct+n_wrong)==0)?0:(n_correct / (n_correct + n_wrong) * 100)
        var notion = ""
        if(percentage<50){
        notion="错了不少题哦！不过没关系，可以再看看讲解或请教老师和同学。加油，你一定能通过的！"
        }else if(percentage<80){
        notion="不错呀，大部分都对了！但你还有潜力可以做得更好，不要放过错题哦"
        }else if(percentage<99){
        notion="很厉害～保持现在的气势，继续向满分冲刺吧！！"
        }else if(percentage==100){
        notion="全对！！太棒了！！享受同学们羡慕的眼光吧！！"
        }
        %>
    </div>
    <div class="summary-warp">
        <div class="upper-warp">
            <div id="centerd-correctness">
                <% pic_name = Math.ceil(percentage / 10) * 10 + "" %>

                <div class="image-warp">
                    <img src="img/persentage/<%= pic_name %>%.png" alt="?????">

                    <p id="zhengquelv" class="title">正确率</p>

                    <div class="rating-warp">
                        <p id="rating"><%= Math.ceil(percentage)%></p>
                    </div>

                    <%
                    sign_left = 130
                    if (percentage < 5)
                    sign_left = 120
                    else if (Math.ceil(percentage) >= 100 )
                    sign_left = 145
                    %>

                    <p id="sign" style="left:<%=sign_left%>px">%</p>
                </div>

                <div id="right">
                    <p class="title">正确</p>

                    <p class="number"><%= n_correct%></p>
                </div>
                <div id="wrong">
                    <p class="title">错误</p>

                    <p class="number"><%= n_wrong%></p>
                </div>
            </div>
        </div>
        <div class="lower-warp">
            <p><%=notion%></p>

            <div class="center-warp">
                <% if(target.get('next_activity')!=undefined) {%>
                <a class="btn" href="#activity/<%=target.get('next_activity')%>">继续</a>
                <% }else if(target.get('next_lesson')!=undefined) { %>
                <a class="btn" href="#lesson/<%=target.get('next_lesson')%>">回到课程</a>
                <% }else{ %>
                <a class="btn" href="#section/<%=target.get('section_id')%>">继续</a>
                <% } %>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tc_video">

    <%isViewed=Sun.isviewed('media',target.get("id"))%>
    
    <%
    id = target.get("id")
    Log.i('media:'+JSON.stringify(media))
    var mediaPath = "file://"+media.get('path')
    %>
    <div style="text-align:center">
        <div style="font-size:28px;line-height:36px;margin:15px" class="title"><%=target.get('name')%></div>
        <video id="video" class="clearfix" src="<%=mediaPath%>" poster="img/img-video-placeholder.gif"
               height=420 onclick="this.play()">
        </video>
        <div style="text-align: center;margin-top:30px">
            <!--<button class="btn btn-large" onclick="Interfaces.onVideoComplete('123')">看完啦</button>-->
            <button type="button" class="btn btn-large" id="nextButton"
                    style="
                background-color: #77BB55;
                background-image: none;
                border: none;
                color: #ffffff;
                text-shadow: none;"
                    onclick="completeVideo('<%=id%>')"
            <% if (currentMode != MODE.VIEW_ONLY){%>
            disabled="disabled"
            <%}%>
            >
            继续学习
            </button>
        </div>
    </div>
</script>

<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <h3>同步中，请等待</h3>
    </div>
    <div class="modal-body">
        <p>加载完成后会返回首页</p>
    </div>
</div>

<div id="waitingDiag" class="modal hide fade">
    <div class="modal-body">
        <p>你丫等会儿</p>
    </div>
</div>

<script type="text/template" id="tf_lesson"></script>
<script type="text/template" id="tf_subject"></script>
<script type="text/template" id="tf_problem_singlechoice">
</script>

</body>
</html>