#problem{
	font-size:1.4em;
	font-weight:bold;
	margin-bottom:0.5em;
}

#protype{
	font-size:1.0em;
	color:#b0b0b0;
}

#next{
	margin-top:2.0em;
	position:absolute;left:41em;
	display:inline;
}

#choices{
	margin-top:0.5em;
}

div.choice {
	position: relative;
}

div.choice input {
	position: absolute;
	left: 1.7em;
	top: 1.1em;
}

div.choice  label{
	margin-top:0.6em;
	margin-left:0.6em;
	width:30em;
	height:.2.2em;
	padding:0.7em 0.7em 0.7em 1.7em;
	background-color:#dddddd;
	font-size:1.6em;
	outline-width:thin;
	outline-color:#808080;
	outline-style:solid;
}


.hidden {
	display: none;
}