
.circle{
	border-radius:50%;
	border:1px solid gray;
	position:absolute;
	background:white;
	width:158px;
	height:158px;
	left:-80px;
	top:-80px;
	-webkit-transition: all 500ms ease;
}

.circle.lock{
	background:#f2f2f2 url(../images/lock.png) no-repeat center;
	opacity:1;
}
.circle div{
	text-align:center;
	margin:0 20px;
	-webkit-transition: all 500ms;
}
.circle div.circle-id{
	margin-top:30px;
	font-size:250%;
}
.circle div.circle-title{
	margin-top:15px;
	font-size:150%;
}
.circle div.circle-desc{
	margin-top:10px;
	color:gray;
}
.circle.active{
    -webkit-transform: scale(1.25);
}
/*
.circle.active{
	width:198px;
	height:198px;
	left:-100px;
	top:-100px;
}

.circle.active div{
	text-align:center;
	margin:0 25px;
}
.circle.active div.circle-id{
	margin-top:44px;
	font-size:315%;
}
.circle.active div.circle-title{
	margin-top:19px;
	font-size:190%;
}
.circle.active div.circle-desc{
	margin-top:18.75px;
	color:gray;
	font-size:125%;
}*/
.circle.nth1.lock{
	display:none;
}
.circle.nth2{
	left:200px;
}/*
.circle.nth2.active{
	left:180px;
}*/
.nth2 .circle.nth2.lock{
	opacity:0;
}
#intro-circles.nth2{
	left:-280px;
}
.circle.nth3{
	left:460px;
}/*
.circle.nth3.active{
	left:440px;
}*/
.nth3 .circle.nth3.lock, .nth3 .circle.nth2.lock{
	opacity:0;
}
#intro-circles.nth3{
	left:-540px;
}
#intro-container{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
}		
#intro-marginer{
	margin:0 auto;
	width:0px;
	height:100px;
	margin-top:200px;
	overflow:visible;
	position:relative;
}
#intro-circles{
	-webkit-transition: left 500ms;
	left:0px;
	position:relative;
}

#intro-btn-select{
	position:absolute;
	z-index:1;
    width:118px; left:-60px; top:80px;
    padding-left:0;padding-right:0;
    margin-left:0;margin-right:0;
}
